@import "src/assets/styles/variables";

.P-main-block {
  max-width : 600px;
  width     : 100%;
  margin    : 50px auto;

  .P-main-box {
    width    : 50%;
    border   : 1px solid $gray;
    overflow : hidden;

    .P-main-box-header {
      padding       : 10px;
      border-bottom : 1px solid $gray;
      box-shadow    : 0 0 3px $app-color;

      h3 {
        font-size : 18px;
      }
    }

    .P-main-box-body {
      height     : 250px;
      overflow   : hidden;
      overflow-y : auto;
      padding    : 0 15px;
      width      : 100%;


      &::-webkit-scrollbar {
        background : $black;

        width      : 6px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background : $black;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background : $gray;
      }
    }

    .P-main-box-footer {
      padding    : 10px;
      border-top : 1px solid $app-color;
      box-shadow : 0 0 3px $app-color;

    }
  }
}

.P-input-block {

  &.P-error{
    input{
      border: 1px solid $red;
    }
  }

  label {
    display       : block;
    width         : calc(100% - 25px);
    padding-right : 10px;

    input {
      width         : 100%;
      height        : 35px;
      border        : 1px solid $app-color;
      padding       : 0 15px;
      border-radius : 10px;
    }
  }
}

.P-add-icon {
  width               : 25px;
  height              : 25px;
  background-position : center;
  background-repeat   : no-repeat;
  background-size     : contain;
  cursor              : pointer;
  display             : block;
}

.P-delete-icon {
  width               : 17px;
  height              : 17px;
  background-position : center;
  background-repeat   : no-repeat;
  background-size     : contain;
  cursor              : pointer;
  display             : block;
}

.P-empty-list {
  padding    : 15px;
  font-size  : 18px;
  text-align : center;
}

.P-message-text {
  p {
    width         : calc(100% - 17px);
    padding-right : 10px;
    font-size     : 14px;
  }
}

.P-message-box {
  padding    : 7px;
  box-shadow : 0 0 3px rgba(0, 0, 0, 0.2);
  margin-top : 10px;
  transition : 0.3s;
  cursor     : pointer;

  &:hover {
    background-color : rgba(0, 0, 0, 0.05);
  }

}
