@import "src/assets/styles/variables";

.P-update-modal-block {
  padding : 15px;

  .P-input-block {
    label {
      width : 100%;
    }
  }
}

.P-title {
  font-size     : 18px;
  margin-bottom : 15px;
}

.P-accept-btn {
  width : 150px;

  button {
    width            : 100%;
    height           : 30px;
    border           : none;
    background-color : dodgerblue;
    color            : $white;
    border-radius    : 10px;
    margin-left      : 15px;
  }
}

.P-update-modal-button {
  margin-top : 15px;

  p {
    cursor : pointer;
  }
}
